@font-face {
    font-family: 'TEXASCRUST';
    src: url('fonts/CarnivaleeFreakshow-DLrm.ttf') format('truetype');
    }

body {
    background-color: lightgrey;
    background-image: url("images/western.png");
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

h1 {
    
    color: maroon;
    text-align: center;
    font-family: 'TEXASCRUST'
}

/* Positioning the Logo Image */
.logo img {
    position: absolute; /* Corrected */
    top: 10px;
    right: 10px;
    width: 100px;
}

/* Other Styles */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ffffff;
    margin: 1em 0;
    padding: 0;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


.input-container label {
    font-weight:bold;
    
    /* background-color: #9fe9ff7e; */

}

.input-container input {
    border: 3px solid #ffffff !important;
    border-radius: 21px !important;
    padding: 8px;
    width: 200px;
    margin-top: 5px;
    background-color: #ffffff73;
}

.input-container input {
    padding: 8px;
    width: 200px;
    margin-top: 5px;
}

#add-card-btn {
    padding: 10px 20px;
    margin-top: 5px;
    background-color: hsl(0, 0%, 50%);
    color: white;
    border: none;
    cursor: pointer;
}

#add-card-btn:hover {
    background-color: hsl(0, 0%, 69%);
}

.output-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    
}


#hand {
    list-style-type: none;
    padding: 0;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'TEXASCRUST'
    
}

#hand li {
    background-color: white;
    margin: 5px auto;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    width: 200px;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}
